body {
  margin: 4vw;

  @media (min-aspect-ratio: 16/10) {
    margin: 4vh;
  }

  @media (orientation: portrait) {
    margin: 2vh;
  }

}

header {
  min-height: calc(100vh - 8vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15vw;

  @media (min-aspect-ratio: 16/10) {
    min-height: 92vh;
  }

  @media (orientation: portrait) {
    min-height: 96vh;
  }

  .top, .bottom {
    width: 100%;
  }
}

.block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &.single-bottom-margin {
    margin-bottom: 5vw;
  }

  &.double-bottom-margin {
    margin-bottom: 10vw;
  }
}

.column {
  width: 45vw;
  padding-bottom: 5vw;

  &.narrow {
    padding-right: 8vw;
  }

  @media (max-width: 600px) {
    width: 100%;

    &.narrow {
      padding-right: 0;
    }
  }

  
}

.bg-rule {
  width: 100%;
  font-weight: 400;
  font-size: 7vw;
  line-height: 0.9em;

  @media (min-aspect-ratio: 16/10) {
    font-size: 10vh;
  }

  &.bottom {
    @media (orientation: portrait) {
      margin-bottom: calc(70px + 2vh);
    }
  }

  p {
    
    // header & * {
    //   opacity: 0;
    // }

    line-height: inherit;
    color: $white;

    &.off-white {
      color: $green;
    }

    // transition: all 0.15s ease;

    margin: 0;
    padding: 0;
    background: 
      repeating-linear-gradient(
        to bottom,
        $white,
        $white 0.54em,
        $green 0.54em,
        $green 0.58em,
        $white 0.58em,
        $white 0.9em
      );

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  a {
    text-decoration: none;
    border-bottom: none;

    p {
      color: $white;

      &.off-white {
        color: $black;
      }

      background: 
      repeating-linear-gradient(
        to bottom,
        $white,
        $white 0.54em,
        $black 0.54em,
        $black 0.58em,
        $white 0.58em,
        $white 0.9em
      );
    }

    &:hover {
      p {
        color: $green;
        background: 
        repeating-linear-gradient(
          to bottom,
          $white,
          $white 0.54em,
          $green 0.54em,
          $green 0.58em,
          $white 0.58em,
          $white 0.9em
        );
      }
    }
  }

  strong, b {
    line-height: inherit;
    font-weight: 400;
    background: $white;
    float: left;
    display: inline-block;
  }

  em, i {
    line-height: inherit;
    float: right;
    font-weight: 400;
    display: inline-block;
    font-style: normal;
    background: $white;
    text-align: right;
  }
}

.text-block {

  font-size: 18px;
  line-height: inherit;

  @media (max-width: 800px) {
    font-size: 16px;
  }

  h1, h2, h3, h4, h5 {
    color: $green;
  }

  a {
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid $green;  

    &:hover {
      color: $green;
    }
  }

  p {
    margin: 0 0 1em;
  }
}

.partner-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 2vw;

  .partner {
    // width: 18%;

    a {
      border: none;
      // display: inline-block;

      img {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }
  }

}