{% include head.html %}

{% include header.html %}

<div class="content">
  <div class="block single-bottom-margin">
      <div class="column text-block">
        {{ page.what_this_is_text | markdownify }}
      </div>
  </div>

  <div class="block text-block">
    <div class="column text-block">
        {{ page.understanding_text | markdownify }}
    </div>
    <div class="column text-block">
        {{ page.going_beyond_text | markdownify }}
    </div>
  </div>

  <div class="block double-bottom-margin">
    <div class="column narrow text-block">
        {{ page.follow_text | markdownify }}

        {% include mailchimp.html %}
    </div>
    <div class="column narrow text-block">
        {{ page.about_the_project_text | markdownify }}

        <div class="partner-block"> 

          {% assign partners = page.partners.size %}
          {% assign partner_width = 100 | divided_by: partners | round | minus: partners %}
          {% for partner in page.partners %}
            {% if forloop.first == true %}
              <div class="partner" style="width: {{ partner_width | plus: partners | plus: 1 }}%">
            {% else %}
              <div class="partner" style="width: {{ partner_width }}%">
            {% endif %}
              <!-- <div class="partner"> -->
                {% if partner.image != nil %}
                  <a href="{{ partner.link }}" target="_blank" title="{{ partner.name }}">
                    <img src="{{ partner.image }}" alt="{{ partner.name }} logo" title="{{ partner.name }}" />
                  </a>
                {% endif %}
              </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>

{% include footer.html %}
